<div class="comment-tile row flex-start">
    <!-- implement avatar here -->
    <%= image_tag gravatar_url(comment.user.email), alt: "user avatar", class: "comment-avatar" %>
    <div class="col flex-start">
        <div class="p-rel">
            <p class="comment-content"><%= link_to contained(comment.user.display_name), comment.user %> <%= comment.content %></p>
            <% if (count = comment.likes.count) > 0 %>
                <div class="comment-likes row flex-center">
                    <i class="far fa-thumbs-up"></i>
                    <p><%= count %></p>
                </div>
            <% end %>
        </div>
        <ul>
            <% if comment.likers.include?(current_user) %>
                <li><%= render "comments/unlike", comment: comment %></li>
            <% else %>
                <li><%= render "comments/like", comment: comment %></li>
            <% end %>
            <% if comment.user == current_user %>
                <li><%= link_to "Delete", comment_path(comment.id), method: "delete", data: { confirm: "Delete comment?" }, class: "comment-option" %></li>
            <% end %>
            <!-- implement time difference here -->
            <li><%= comment.created_at.strftime("%B %d at %I:%M %p") %></li>
        </ul>
    </div>
</div>