<%= form_for @post do |f| %>
    <div class="post-form">
        <%= f.text_area :content, class: "post-form-content" %>
        <%= f.radio_button :purge, "keep", checked: "checked", class: "post-form-radio" %>
        <%= f.label :purge, "Keep attached file", value: "keep" %>
        <%= f.radio_button :purge, "purge", class: "post-form-radio" %>
        <%= f.label :purge, "Delete attached file", value: "purge" %>
        <%= f.radio_button :purge, "change", class: "post-form-radio edit-attach" %>
        <%= f.label :purge, "Change attached file", value: "change" %>
        <div class="d-none">
            <%= f.label :image, "Attach...", class: "gambiarra btn-style" %>
            <%= f.file_field :image, class: "post-form-image" %>
        </div>
        <div class="post-form-btns">
            <%= f.submit "Save", class: "post-form-submit btn-style" %>
        </div>
    </div>
<% end %>