<div class="post-lists row space-between">
    <div class="mini-list left-list">
        <%= render "layouts/list", collection: post.likers, type: "Like" %>
    </div>
    <div class="row">
        <div class="mini-list right-list">
            <%= render "layouts/list", collection: post.commenters, type: "Comment" %>
        </div>
        <div class="mini-list right-list">
            <%= render "layouts/list", collection: post.sharers, type: "Share" %>
        </div>
    </div>
</div>
<div class="post-actions row">
    <div>
        <%= render "layouts/action", action: "like", resource: post, collection: post.likers.ids %>
    </div>
    <div>
        <label for="comment-switch-<%= post.id %>" class="i-container row flex-center center">
            <i class="far fa-comment-alt"></i>
            <p>Comment</p>
        </label>
    </div>
    <div>
        <%= render "layouts/action", action: "share", resource: post, collection: post.sharers.ids %>
    </div>
</div>
<input id="comment-switch-<%= post.id %>" type="checkbox" class="comment-switch d-none">
<div class="post-comments d-none">
    <%= render "comments/new", post: post%>
    <%= render post.comments %>
</div>
