<div class="post-lists row space-between">
    <div class="p-rel left-list">
        <%= render "posts/lists", collection: post.likers, type: "Like" %>
    </div>
    <div class="row">
        <div class="p-rel right-list">
            <%= render "posts/lists", collection: post.commenters, type: "Comment" %>
        </div>
        <div class="p-rel right-list">
            <%= render "posts/lists", collection: post.sharers, type: "Share" %>
        </div>
    </div>
</div>
<div class="post-actions row">
    <div>
        <%= render "layouts/action", type: "post", action: "like", resource: post, collection: post.likers.pluck(:id) %>
    </div>
    <div>
        <label for="comment-show-<%= post.id %>" class="i-container row flex-center center">
            <i class="far fa-comment-alt"></i>
            <p>Comment</p>
        </label>
    </div>
    <div>
        <%= render "layouts/action", type: "post", action: "share", resource: post, collection: post.sharers.pluck(:id) %>
    </div>
</div>
<input id="comment-show-<%= post.id %>" class="show-comments d-none" type="checkbox">
<div class="post-comments d-none">
    <%= render "comments/new", post: post%>
    <%= render @comments.where(post_id: post.id) %>
</div>