<%= form_for @new_like do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :liked_id, value: post.id %>
    <%= f.hidden_field :liked_type, value: "Post" %>
    <label for="like-<%= post.id %>" class="i-container row flex-center center">
        <i class="far fa-thumbs-up"></i>
        <p>Like</p>
        <%= f.submit "Like", id: "like-#{post.id}", class: "d-none" %>
    </label>
<% end %>