<div class="post-lists row space-between">
    <div class="left-list">
        <%= render "post_lists", collection: post.likers, type: "Like" %>
    </div>
    <div class="row">
        <div class="right-list">
            <%= render "post_lists", collection: post.commenters, type: "Comment" %>
        </div>
        <div class="right-list">
            <%= render "post_lists", collection: post.sharers, type: "Share" %>
        </div>
    </div>
</div>
<div class="post-actions row">
    <div>
        <%= render "post_action", post: post, collection: post.likers, link: "like" %>
    </div>
    <div>
        <label for="comment-show-<%= post.id %>" class="i-container row flex-center center">
            <i class="far fa-comment-alt"></i>
            <p>Comment</p>
        </label>
    </div>
    <div>
        <%= render "post_action", post: post, collection: post.sharers, link: "share" %>
    </div>
</div>
<input id="comment-show-<%= post.id %>" class="d-none" type="checkbox">
<div class="post-comments d-none">
    <%= render "comments/new", post: post%>
    <%= render @comments.where(post_id: post.id) %>
</div>