<%= form_for @new_post do |f| %>
    <%= f.hidden_field :content, value: post.content %>
    <% if post.image.attached? %>
        <%= f.hidden_field :share, value: post.id %>
    <% end %>
    <%= f.hidden_field :shared_from_id, value: post.shared_from_id || post.id %>
    <%= f.label "Share", for: "share-#{post.id}", class: "i-container row flex-center center" do %>
        <i class="far fa-share-square"></i>
        <p>Share</p>
    <% end %>
    <%= f.submit "Share", id: "share-#{post.id}", class: "d-none" %>
<% end %>